SERVICE_NAME=17-campaign-service
SERVICE_PORT=5017
DATABASE=postgresql

# Database connections (based on postgresql)
POSTGRES_HOST=postgres-master
POSTGRES_PORT=5432
MONGODB_URI=mongodb://mongodb-primary:27017
CASSANDRA_CONTACT_POINTS=cassandra-1
MYSQL_HOST=mysql
REDIS_HOST=redis-master
COUCHDB_URL=http://couchdb:5984
MARIADB_HOST=mariadb
